In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from meteostat import Point, Hourly
from datetime import datetime

In [2]:
master_df = pd.read_parquet(Path("data") / "train.parquet")

In [3]:
master_df

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
48321,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 02:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48324,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,1.0,2020-09-01 03:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.693147
48327,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 04:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48330,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48333,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,9.0,2020-09-01 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.302585
...,...,...,...,...,...,...,...,...,...,...,...,...
929175,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,445.0,2021-09-09 06:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,2.301980,6.100319
929178,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,145.0,2021-09-09 10:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,2.301980,4.983607
929181,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,218.0,2021-09-09 15:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,2.301980,5.389072
929184,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,21.0,2021-09-09 22:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,2.301980,3.091042
929187,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,15.0,2021-09-09 23:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,2.301980,2.772589

In [4]:
start = datetime(2020, 9, 1)
end = datetime(2022, 1, 1)

New_Delhi = Point(48.846028, 2.375429)

data = Hourly(New_Delhi, start, end)
data = data.fetch()

selected_columns = ['temp', 'rhum', 'wspd']
filtered_data = data[selected_columns]

In [5]:
filtered_data

                     temp  rhum  wspd
time
2020-09-01 00:00:00  13.9  76.0   7.6
2020-09-01 01:00:00  13.6  77.0   3.6
2020-09-01 02:00:00  13.0  79.0   3.6
2020-09-01 03:00:00  12.9  81.0   5.4
2020-09-01 04:00:00  12.4  83.0   5.4
...                   ...   ...   ...
2021-12-31 20:00:00  12.0  91.0  11.2
2021-12-31 21:00:00  12.2  92.0   7.6
2021-12-31 22:00:00  12.0  91.0   3.6
2021-12-31 23:00:00  11.8  92.0   9.4
2022-01-01 00:00:00  10.8  93.0   5.4

[11689 rows x 3 columns]

In [26]:
from datetime import datetime
from meteostat import Point, Hourly

def _add_weather_data(X):
    X = X.copy()
    dfs = []

    for counter_id in X['counter_id'].unique():
        # Get the coordinates of the counter
        coordinates_counter = (
            X.loc[X['counter_id'] == counter_id, 'latitude'].values[0],
            X.loc[X['counter_id'] == counter_id, 'longitude'].values[0]
        )

        # Create a Point object with the counter's coordinates
        counter_point = Point(*coordinates_counter)

        # Define the time range (start and end dates)
        start = datetime(2020, 8, 1)
        end = datetime(2022, 1, 1)

        # Create a Hourly object and fetch the weather data
        weather_data = Hourly(counter_point, start, end).fetch()
        selected_columns = ['temp', 'rhum', 'wspd', 'prcp']
        weather_data['prcp'] = weather_data['prcp'].fillna(method='ffill')
        weather_data = weather_data[selected_columns].shift(-1)

        # Append counter_id to the weather_data DataFrame
        weather_data['counter_id'] = counter_id

        # Append the DataFrame to the list
        dfs.append(weather_data)

    # Concatenate all DataFrames into a single result_df
    result_df = pd.concat(dfs)
    
    # Convert 'time' index to 'date' column for merging
    result_df['date'] = result_df.index
    result_df['date'] = pd.to_datetime(result_df['date'])
    
    # Merge the result DataFrame with the original DataFrame on 'counter_id' and 'date'
    X = X.reset_index().merge(result_df, how='left', on=['counter_id', 'date']).set_index('index')

    return X

In [28]:
result = _add_weather_data(master_df)

prcp
False    496827
Name: count, dtype: int64